.body {
    width: calc(100% - 5rem);
    //height: 100vh;
    margin-top: 5.75rem;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    //background: #f4f7fa;
    padding: 3rem;

}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin: 5rem;
}