<h1 mat-dialog-title>Add Category</h1>
<div mat-dialog-content>
  <mat-form-field style="display: block">
    <mat-label>Name Category</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field style="display: block">
    <mat-label>Visbility</mat-label>
    <mat-select>
      <mat-option value="True">True</mat-option>
      <mat-option value="Fals">False</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Add</button>
</div>
