<div class="container">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="Products"></mat-tab>
    <mat-tab label="Category"></mat-tab>
  </mat-tab-group>

  <div *ngIf="selectedTabIndex === 0">
    <div class="container mt-2">
      <div class="filter-and-button-container">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilterProducts($event)"
            placeholder="Serch"
            #input
          />
        </mat-form-field>
        <div class="button-container">
          <button
            mat-raised-button
            data-bs-toggle="modal"
            type="button"
            data-bs-target="#exampleModal"
          >
            Add Product
          </button>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceProducts" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Description
            </th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-cell *matCellDef="let row">{{ row.price }}</td>
          </ng-container>

          <!-- Compare Price Column -->
          <ng-container matColumnDef="comparePrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Compare Price
            </th>
            <td mat-cell *matCellDef="let row">{{ row.comparePrice }}</td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
            <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
          </ng-container>

          <!-- Visibility Column -->
          <ng-container matColumnDef="visibility">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Visibility
            </th>
            <td mat-cell *matCellDef="let row">{{ row.visibility }}</td>
          </ng-container>

          <!-- Category Name Column -->
          <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let row">{{ row.categoryName }}</td>
          </ng-container>

          <ng-container matColumnDef="viewMore">
            <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
                (click)="viewMore(element.id)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon"
                (click)="editProduct(element.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a heart icon"
                (click)="deleteProduct(element.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTabIndex === 1">
    <div class="container mt-2">
      <div class="filter-and-button-container">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilterCategory($event)"
            placeholder="Serch"
            #input
          />
        </mat-form-field>
        <div class="button-container">
          <button
            mat-raised-button
            type="button"
            (click)="openDialog('0ms', '0ms')"
          >
            Add Category
          </button>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceCategory" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="visbility">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Visbility</th>
            <td mat-cell *matCellDef="let element">{{ element.visbility }}</td>
          </ng-container>

          <ng-container matColumnDef="viewMore">
            <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
                (click)="viewMore(element.id)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon"
                (click)="editProduct(element.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a heart icon"
                (click)="deleteProduct(element.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCategory"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsCategory"
          ></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
