.filter-and-button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container {
    align-self: flex-end; /* Align the button container to the bottom of the flex container */
    margin-bottom: 1.2rem;
  }
  /* Ensure the mat-form-field takes full width */
.full-width-field {
  width: 100%;
  margin-bottom: 16px; /* Add some space between the fields */
}

/* Center the actions div */
.centered-actions {
  display: flex;
  justify-content: center;
}
